name: GitHub Metrics

on:
  schedule: 
    - cron: "0 0 * * *"  # Daily at midnight
  workflow_dispatch:

jobs:
  generate-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Terminal Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: TheM1ddleM1n
          template: terminal
          filename: metrics.terminal.svg
          base: header, metadata
          plugin_languages: yes
          plugin_recent_activity: yes
          plugin_recent_activity_limit: 5
          plugin_recent_activity_days: 7
          plugin_recent_activity_show: commits, issues, pull_requests

      - name: Generate Activity Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: TheM1ddleM1n
          filename: metrics.plugin.activity.svg
          template: classic
          base: header, activity, metadata
          plugin_recent_activity: yes
          plugin_recent_activity_limit: 5
          plugin_recent_activity_days: 7
          plugin_recent_activity_show: commits, issues, pull_requests
