name: Generate pacman animation

on:
  schedule: # execute once daily at midnight UTC
    - cron: "0 0 * * *"

  workflow_dispatch:

  push:
    branches:
    - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js with increased memory
        uses: actions/setup-node@v3
        with:
          node-version: '20'
        env:
          NODE_OPTIONS: --max-old-space-size=8192

      - name: generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}
        env:
          NODE_OPTIONS: --max-old-space-size=8192

      - name: push pacman-contribution-graph.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
